<div class="quant-search">

    {%if page.description %}
    <h4>{{ page.description }}</h4>
    {% endif %}

    <div class="flex-grid">

        {% if facets is not empty %}
        <div class="col facets">
            {% if page.display.results.show_clear_refinements %}
            <div id="clear-refinements"></div>
            {% endif %}

            {% for facet in facets %}
            <div class="facet-container">
                <div class="facet-heading">{{ facet.facet_heading }}</div>
                <div id="facet_{{ facet.facet_container }}"></div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="col content">
            {% if page.display.results.display_search %}
            <div id="searchbox" class="ais-SearchBox"></div>
            {% endif %}

            {% if page.display.results.display_stats %}
            <div id="stats"></div>
            {% endif %}

            <div id="hits"></div>

            {% if page.display.pagination.pagination_enabled %}
            <div id="pagination"></div>
            {% endif %}
        </div>
    </div>
</div>
